<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Home</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Sporty Sport Portal</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/customer/list">List</a></li>
						<li><a href="/customer/search">Search</a></li>
					</ul></li>
				<li><a href="/products/show">Product</a></li>
				<li><a href="/report/purchase">Purchase Report</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login">Logout</a></li>				
			    <li><a href="/users/chgpass">Change Password</a></li>
				<li><a href="#">Login : <span th:text="${loginuser}"></span></a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h1 class="panel-title">Customer List</h1>
					</div>
					<div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(customers)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Country</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>James</td>
                                <td>Butt</td>
                                <td>jbutt@gmail.com</td>
                                <td>504-621-8927</td>
                                <td>6649 N Blue Gum St</td>
                                <td>New Orleans</td>
                                <td>Orleans</td>
                                <td>LA</td>
                                <td>70116</td>
                            </tr>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>James</td>
                                <td>Butt</td>
                                <td>jbutt@gmail.com</td>
                                <td>504-621-8927</td>
                                <td>6649 N Blue Gum St</td>
                                <td>New Orleans</td>
                                <td>Orleans</td>
                                <td>LA</td>
                                <td>70116</td>
                            </tr>
                            <tr th:each="customer : ${customers}">
                                <td th:text="${customer.customerid}">334</td>
                                <td th:text="${customer.firstName}">Tasty Goodnees 3</td>
                                <td th:text="${customer.lastName}">Tasty Goodnees 3</td>
                                <td th:text="${customer.email}">Tasty Goodnees 3</td>
                                <td th:text="${customer.phone}">Tasty Goodnees 3</td>
                                <td th:text="${customer.address1}">Tasty Goodnees 3</td>
                                <td th:text="${customer.city}">Tasty Goodnees 3</td>
                                <td th:text="${customer.state}">Tasty Goodnees 3</td>
                                <td th:text="${customer.country}">Tasty Goodnees 3</td>
								<td th:text="${customer.zip}">Tasty Goodnees 3</td>
                                <!--   <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td> -->
                            </tr>
                        </table>
                    </div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>